ul {
    list-style-type:none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
  
    }
    
    li {
        float: left;
    }

    li a{
        display: block;
        color: black;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-size: 20px;
        margin-inline: px;
    }
    li a:hover {
background-color: pink;
    }

    table tr,td,th{
        border: 2px solid black;
        text-align: center;
        padding: 20px;
        border-collapse:collapse ;
        background-color: lightcyan;
        margin: 10px;
        border-spacing: 20px;
       
    }
    caption{
        font-size:220%;
        color: black;
        
    }